USE [RENTA_25]
GO
/****** Object:  View [dbo].[oro_dividendos_españoles_no_incorporados]    Script Date: 04/05/2026 23:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[oro_dividendos_españoles_no_incorporados]
as
SELECT   
CONVERT(varchar,fecha,105) as [Fecha],
[accion] as Acción,
 cast(format([importe_integro],      'N', 'de-de') as varchar(20)) as [Importe integro],
 cast(format([retenciones_destino],      'N', 'de-de') as varchar(20)) as [Retenciones],
 banco as Banco
  FROM [RENTA_25].[dbo].[dividendos_españoles_no_incorporados]
 -- order by [Importe integro en euros] desc
GO
