USE [RENTA_25]
GO
/****** Object:  View [dbo].[oro_dividendos_en_extranjero]    Script Date: 04/05/2026 23:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[oro_dividendos_en_extranjero] 
as
SELECT   
CONVERT(varchar,fecha,105) as [Fecha],
[accion] as Acción,
 cast(format([importe_integro_dolares],      'N', 'de-de') as varchar(20)) as [Importe integro en dólares],
 cast(format([importe_integro],      'N', 'de-de') as varchar(20)) as [Importe integro en euros],
 cast(format([retenciones_origen],      'N', 'de-de') as varchar(20)) as [Retención en origen],
 cast(format([retenciones_destino],      'N', 'de-de') as varchar(20)) as [Retención en destino],
 banco as Broker,
 cast(format(Cotizacion,      'N', 'de-de') as varchar(20)) [Tipo cambio euro/dolar]
  FROM [RENTA_25].[dbo].[dividendos_en_extranjero]
 -- order by [Importe integro en euros] desc
GO
