USE [RENTA_25]
GO
/****** Object:  View [dbo].[dividendos_en_extranjero]    Script Date: 04/05/2026 23:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[dividendos_en_extranjero]
as
select 
	d.fecha,
	d.accion, 
	d.dividendo_por_accion as dividendo_dolares,
	round(d.dividendo_por_accion/a.Cotizacion,2) as  dividendo_euros,
	ganancia_bruta as importe_integro_dolares,
	round(ganancia_bruta/a.Cotizacion,2) as importe_integro,
	round(ganancia_bruta*0.15 ,2) as retenciones_origen,
	round(ganancia_bruta/a.Cotizacion*0.19 ,2) as retenciones_destino,
	banco,
	a.Cotizacion
from [INFO_BURSATIL].[dbo].[dividendos] d
inner join RENTA_25.[dbo].[ExchangeRates] a
	on a.Fecha=d.fecha
where 
	year(d.fecha)=2025 
	and tipo_dividendo ='A cuenta' 
	and pais <> 'España' 
	and banco='Interactive Broker'
GO
