USE [RENTA_25]
GO
/****** Object:  Table [dbo].[ExchangeRates]    Script Date: 04/05/2026 23:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeRates](
	[Divisa] [varchar](20) NULL,
	[Fecha] [datetime] NULL,
	[Cotizacion] [float] NULL
) ON [PRIMARY]
GO
